# Ignore local, unsealed secrets and env files
**/*.unsealed.yaml
**/*.env

# Optional: Ignore NFS config if you want to keep IPs private
# infrastructure/paperless-ngx/nfs-config.yaml

# Ignore local temp outputs
/tmp/
**/tmp/
# Node, Python, editor junk (generic)
node_modules/
.DS_Store
.envrc
*.swp
